body {

    display: block;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    padding-right: 1em;

}
.cImg {
    display: block;
    clear: both;
    overflow: hidden;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;


}

.cImg  img {

    max-width: 100%;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.cImg .caption {
    text-align: center;
    margin-top: 0.8em;

}

.equation, .align, .alignstar, .equationstar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    width: 100%;
    float: none;
    clear: both;
    position: relative;
}

.equation img, .align img, .equationstar img, .alignstar img {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    display: block;
    float: none;
    clear: both;

}

.eqcounter {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 95%;
    height: 1em;
    font-size: 1.2em;
}

p {
    display: block;
    clear: both;
    line-height: 1.6em;
    text-align: justify;
}

p br {
    margin-bottom: 0.5em;
}

.MathJax {
    font-size: 1.2em !important;
}

